---
import BaseLayout from "../../layouts/BaseLayout.astro"
import programs from "../../data/programs.js";
import HeaderCards from "../../components/HeaderCards.astro";
import ContentSticky from "../../components/ContentSticky.astro";
import CTAVibes from "../../components/CTAVibes.astro";
import Enroll from "../../components/Enroll.astro";
import FAQs from "../../components/FAQs.astro";
import CTASplitImage from "../../components/CTASplitImage.astro";

export function getStaticPaths() {
  return programs.map(({ data }) => {
    return {
      params: { slug: data.slug },
      props: {
        data,
      },
    };
  });
}

const { data } = Astro.props;

---

<BaseLayout
	siteTitle={data.title}
	siteDescription={data.description}
	keywords={data.keywords}
	class="bg-white text-black"
>
  <HeaderCards
    pageContent={data.header}
  />

  <ContentSticky
    pageContent={data.content}
  />

  <CTAVibes />
  
	<div id="contact" class="scroll-my-20 lg:scroll-my-28"></div>
	<Enroll />
  <FAQs pageContent={data.faqs}/>
  <CTASplitImage />
</BaseLayout>