---
import ImageComp from "./ImageComp.astro";
import SimulatorCTA from "./SimulatorCTA.astro";

const { pageContent } = Astro.props;
---

<div class="relative isolate overflow-hidden bg-white pt-24 sm:pt-32 lg:overflow-visible">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute top-0 left-[max(50%,25rem)] h-256 w-512 -translate-x-1/2 mask-[radial-gradient(64rem_64rem_at_top,white,transparent)] stroke-gray-200" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>

  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2 lg:items-start lg:gap-y-10 px-6 lg:px-8">
    <div class="lg:pr-4">
      <div class="lg:max-w-lg">
        {pageContent.upperHeader && (
          <p class="text-base font-semibold text-primary-600">{pageContent.upperHeader}</p>
        )}
        <h1 class="mt-2 text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
          {pageContent.header}
        </h1>
        <p class="mt-6 text-xl text-gray-700">{pageContent.smallParagraph}</p>
        <p class="mt-4 text-gray-700">{pageContent.firstParagraph}</p>
        <ul role="list" class="mt-8 space-y-8 text-gray-600">
          {pageContent.features?.map((feature) => (
            <li class="flex gap-x-3">
              <div class="pt-2 h-7 w-5 flex-none text-accent-800 text-2xl">
                <feature.icon />
              </div>
              <span>
                <strong class="font-semibold text-gray-900">{feature.title}</strong> {feature.description}
              </span>
            </li>
          ))}
        </ul>
        <p class="mt-8 text-gray-700">{pageContent.secondParagraph}</p>

        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900" set:html={pageContent.ctaTitle}></h2>
        <p class="mt-6 text-gray-700">{pageContent.ctaParagraph}</p>
      </div>
    </div>

    <div class="lg:sticky lg:top-24 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <ImageComp
        imagePath={pageContent.imagePath}
        imageAlt={pageContent.imageAlt}
        styles="rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 max-w-full"
      />
    </div>
  </div>
  <div class="pt-16 lg:pt-24">
    {
      pageContent.simulator &&(
        <SimulatorCTA />
      )
    }
  </div>
</div>
