---
const { pageContent } = Astro.props;

import ImageComp from "./ImageComp.astro";
---

<div class="relative isolate overflow-hidden bg-gray-900 ">
  <ImageComp
    imagePath={pageContent.imagePath}
    imageAlt={pageContent.imageAlt}
    styles="absolute inset-0 -z-50 object-cover saturate-50 brightness-75 object-center w-full h-full animate-slow-zoom max-h-[1600px]"
    loading="eager"
  />
  <div class="absolute bg-black/50 w-full h-full -z-40"></div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8 py-24 sm:py-32">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">{pageContent.headerH1}</h1>
      <p class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">{pageContent.paragraph}</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
      {pageContent.cards.map((card) => (
        <a href={card.link} class="flex gap-x-4 rounded-xl bg-white/5 p-6 shadow-none inset-ring inset-ring-white/5 backdrop-blur-sm hover:bg-white/10 transition-colors duration-200">
          <div class="h-7 w-5 flex-none text-accent-400">
            <card.icon />
          </div>
          <div class="text-base/7">
            <h3 class="font-semibold text-white">{card.name}</h3>
            <p class="mt-2 text-gray-300">{card.description}</p>
          </div>
        </a>
      ))}
    </div>
  </div>
</div>
